.sidebar-responsive {
  width: 255px;
}

@media (max-width: 850px) {
  .sidebar-responsive {
    width: 70px;
  }
  .sidebar-label,
  .workspace-label {
    display: none !important;
  }
}

@media (max-width: 560px) {
  .sidebar-responsive {
    display: none !important;
  }
}
